In [2]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import random

In [3]:
# 1 year of data
df = pd.read_csv('ic-singlet-jan16.csv')

In [4]:
df.head(5)

     ICDec      ICRA  ICsigmaR               ICtime  ICmsec
0 -34.7199  205.1050  0.196344  2016-01-01 00:04:57   98664
1  54.3056  107.9430  0.534230  2016-01-01 00:05:40  122278
2  57.3919  108.1390  1.176690  2016-01-01 00:05:48  730722
3 -32.6259  332.9440  0.175290  2016-01-01 00:06:08  981306
4  22.6634   20.1443  2.750110  2016-01-01 00:15:24  288569

In [6]:
# scramble IceCube data
for i in range(1):
    df2 = df.reindex(np.random.permutation(df.index))
    df2.reset_index(drop=True, inplace=True)
    df2[['ICDec','ICsigmaR']] = df[['ICDec','ICsigmaR']]
    df2.columns=['ICDec','ICRA','ICsigmaR','ICtime','ICmsec']
    df2.to_csv("IC-Jan16-energy-scrambled{}.csv".format(i),index=False,encoding='utf-8')

In [7]:
df2.head(5)

     ICDec      ICRA  ICsigmaR               ICtime  ICmsec
0 -34.7199  204.8430  0.196344  2016-01-22 07:53:49   30561
1  54.3056   93.3234  0.534230  2016-01-15 02:49:11   63385
2  57.3919  348.7610  1.176690  2016-01-14 11:03:47  547010
3 -32.6259  214.2330  0.175290  2016-01-26 02:02:03  890572
4  22.6634  318.6030  2.750110  2016-01-18 05:01:19  385313

In [8]:
#file with no energy
for i in range(1000):
    df2 = df.reindex(np.random.permutation(df.index))
    df2.reset_index(drop=True, inplace=True)
    df2[['ICDec','ICsigmaR']] = df[['ICDec','ICsigmaR']]
    df2.columns=['ICDec','ICRA','ICsigmaR','ICtime','ICmsec']
    df2.to_csv("IC_scrambled/{}.csv".format(i),
          index=False,encoding='utf-8')

In [3]:
#Scrambling HAWC
df=pd.read_csv("hawc_data_2.csv",delimiter=",")
df['HTime_c']=pd.to_datetime(df['HTime_c'])
df = df.sort_values(by='HTime_c')

In [4]:
df.head(5)

,HDec,HRA,HsigmaR,HTime_i,HTime_c,HTime_f,Hduration,Hsig
1,-8.423330,256.377,0.75,2016-01-01 14:03:17,2016-01-01 16:52:28,2016-01-01 19:41:39,5.63943,2.85261
27,-19.431800,258.047,0.75,2016-01-01 14:49:10,2016-01-01 16:59:13,2016-01-01 19:09:16,4.33481,3.08562
14,-12.673900,258.487,0.75,2016-01-01 14:24:19,2016-01-01 17:00:55,2016-01-01 19:37:31,5.22007,2.95240
7,-8.159460,258.882,0.75,2016-01-01 14:12:34,2016-01-01 17:02:28,2016-01-01 19:52:22,5.66324,3.24719
3,-0.708832,261.123,0.75,2016-01-01 14:04:34,2016-01-01 17:11:22,2016-01-01 20:18:10,6.22688,3.03762

In [ ]:
for i in range(1000):
    df2 = df.reindex(np.random.permutation(df.index))
    df2.reset_index(drop=True, inplace=True)
    df2[['HDec','Hduration']] = df[['HDec','Hduration']]
    df2[['HTime_i']] = pd.to_datetime(df2.HTime_c)-pd.to_timedelta(df2.Hduration/2, unit='h')
    df2[['HTime_f']] = pd.to_datetime(df2.HTime_c)+pd.to_timedelta(df2.Hduration/2, unit='h')
    df2.columns=['HDec','HRA','HsigmaR','HTime_i','HTime_c','HTime_f','Hduration','Hsig']
    df2.to_csv("HAWC_scrambled/{}.csv".format(i),
          index=False,encoding='utf-8')